@mixin paint($color) {
    color: $color;
    background-color: $color;
    border-color: $color;
}

@mixin paint-button($color, $hover, $active) {
    @include paint($color);

    &:hover {
        @include paint($hover);
    }

    &:active {
        @include paint($active);
    }
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin square ($size) {
    width: $size;
    height: $size;
}