@use "../../styles/mixins";

.checkbox {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--gray);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
    }

    &::after {
        content: "";
        background: url('../../assets/icon.svg') 50% 50% no-repeat;
        background-size: 100%;
        background-color: var(--success);
        border-radius: 5px;
        display: none
    }
     

    &:checked:after {
        display: inline-block
    }
}

.checkbox-sm {
    @include mixins.square(15px);

    &::after {
        @include mixins.square(15px);
    }
}

.checkbox-md {
    @include mixins.square(18px);

    &::after {
        @include mixins.square(18px);
    }
}

.checkbox-lg {
    @include mixins.square(20px);

    &::after {
        @include mixins.square(20px);
    }
}


.container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.error {
    background-color: var(--danger);
}
