@use "../../styles/mixins";

.container {
    display: flex;
    max-width: 800px;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    padding: 8px;
    @include mixins.flex();
    gap: 7px;
    box-sizing: border-box;


    .input {
        outline: none;
        border: none;
        width: 100%;
    }

    &:focus-within {
        border: 2px solid var(--primary);
        padding: 7px;
    }

    .icon {
        width: fit-content;
        height: 100%;
        @include mixins.flex();
    }

    .input-sm {
        font-size: 12px;
    }
    
    .input-md {
        font-size: 16px;
    }

    .input-lg {
        font-size: 20px
    }
}

.error {
    border: 1px solid var(--danger);
}

.errorMessage {
    color: var(--danger);
    font-size: 12px;
    margin-top: 2px;
}

label {
    font-size: 16px;
}